.modal-open, .modal { padding-right: 0 !important; }

// .modal-scrollable > .modal:not(#multimediaModal) { margin-top: -430px !important; }

.modal-content { 
	top: 30px; 
	background-color: $off-white;

	>hr { margin: 2px 0; border-color: $light-grey; }
}

.create-close-button { position: relative; top: -12px; }

.modal-title { 
	padding-top: 25px;
	font-size: 24px; 
	color: $dark-grey;
	font-weight: 300;
}

.modal-header { 
	position:relative; 
	min-height: 90px;
	font-size: 14px;
	border-bottom: none;
 }

.modal-body { 
	padding: 10px 15px;

	>input { margin-bottom: 15px; }

	p { 
		color: $dark-grey; 
		font-size:1.2em;
		margin-top:25px;
	}
}

textarea[disabled], input[disabled], .form-control[disabled] { background-color: white !important; }

.modal-body > input, textarea { 
	display: block; 
	width:100%; 
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.2); 
	@include border-radius(5px); 
}

.add-engagement {
	i { margin-right: 4px; }
	p { font-size: 1em; margin-top: 0; display: inline; }
}

.modal-footer { padding-top:0; border-top:0; }

textarea { resize: none; }

.fmModalTitle, .createLectureTitle { padding-top: 0; display: inline-block; }
.fmHeader, .createLectHeader { min-height: inherit !important; }

#createCourseModal .modal-header, #feedbackModal .modal-header { min-height: inherit; }

.createCourseTitle { padding-top: 0; }

.createLectureModal .modal-title { padding-left: 0; }

.bodyTopDivider { position:relative; top:6px; }

.bottomDivider {
	margin-top: 5px;
	margin-bottom: 25px;
}

/* add to DEX CSS project */

.quiz-question-container  .fa-trash-o { font-size: 1.2em; padding-top: 8px; }

/* this rule will be inactive shortly - remember to delete it */
.one-edge-shadow {
	@include box-shadow($light-grey -25px 0 15px -6px);
}

.leftIcons { 
	width: 100%;
	margin: 0 auto; 
	text-align: center;
	padding-top: 35px;

	img { cursor: pointer; }
}

.leftContainer { padding-right: 0; }

.close { font-size: 2.5em; font-weight: 900; }

.clipContainer { width: 25%; min-width: 100px; margin: 0 auto; }

.imgContainerModal { width: 50%; margin: 0 auto;  min-width: 100px; }

.mediaUp { margin-top: 60px; margin-bottom: 30px; }

.fadeRule { 
	border: 0; 
	height: 2px;
	margin-top: 60px; 
	background-image: -webkit-linear-gradient(left, rgba(200, 200, 200,0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200,0)); 
	background-image: -moz-linear-gradient(left, rgba(200, 200, 200,0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200,0)); 
	background-image: -ms-linear-gradient(left, rgba(200, 200, 200,0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200,0)); 
	background-image: -o-linear-gradient(left, rgba(200, 200, 200,0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200,0)); 
}

.bottomText { position: relative; }

.bottomTextLecture { margin: 15px 0 0; }

.trashCan { position: absolute; left: 94%; top: 5px; }

.mediaUpFileManager {
	margin-top: 30px;
}

.dragDrop { 
	border: 2px dashed $medium-grey; 
	color: $light-grey; 
	margin-top: 40px; 
	padding: 30px 0; 
	@include border-radius(3px);
	width: 97%;

	i { font-size: 5em; }
	h4 { margin-top: 0; }
}

.fileManagerTopInput {
	display: inline !important; 
	width:80% !important; 
	padding: 6px !important;
	border: 1px solid rgba(0, 0, 0, 0.2); 
	@include border-radius(5px); 
	margin: 10px 10px 0 0;
}

.managerButton { 
	width: 75px; 
	padding: 7px 12px; 
	position: relative; 
	top: -2px; 
	background-color: $dark-grey; 
	color: white;
}

.clipAssetManager { width: 100px; }

/* styles for grades */
.weight { font-size: 12px; color: $dark-grey; }

.gradable_list { 
	max-height: 300px; 
	overflow: scroll; 
	@include border-radius(4px); 
	border: 1px solid $light-grey; 
}

.gradable_book { 
	max-height: 400px; 
	overflow: scroll;
	@include border-radius(4px); 
	border: 1px solid $light-grey; 
}

.gradable_list .table, .gradable_book .table { padding: 0; }

.gradable_list input, .gradable_book input { 
	max-width: 50px; 
	border: 1px solid #ccc; 
	@include border-radius(4px); 
}

.gradable_list textarea, .gradable_book textarea { resize: vertical; }

.gradable_list .table > tbody > tr > td { padding-top: 26px; }

.gradable_list .table > tbody > tr > td:last-child { padding-top: 8px; }

.gradable_book .table > tbody > tr > th { width: 250px; }

.gradable_book .table > tbody > tr > td { width: 150px; }

.gradable_book .modal-title option, .gradable_list, .modal-title option { font-size: 12px; }

.con { overflow: scroll; }
.scroll { width: 100%; }
.spacer { padding-top: 5px; }

.grade_filter ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		float: left;
		padding-right: 15px;
		color: $dark-grey;
		margin-top: 28px;
	}

	li:first-child { margin-top: 0; }
	li:last-child { padding-right: 0; }
}

/* ----- file manager edits ----- */

.fmThumb { max-height: 140px; max-width: 200px; }

figure { text-align: center; } /* this could go in the html - revise and remove */

.assetIcons { 
	margin-top: 2px; 

	li { margin-right: 20px; }
	li:last-of-type { margin-left: 5px; }
}

.fmContainer {
	hr { margin-top: 30px; margin-bottom: 20px; }
	hr:not(.notop) { visibility: hidden; }
	p { margin-top: 0; }
}

.fmHeader { padding-bottom: 0; }

.notop { margin-top: 0 !important; }

.notActive { opacity: .5; }

.fileUploader i { font-size: 4em; }

/* ----- feedback modal fixes ----- */

#feedbackModal { 
	font-family: "Open Sans", sans-serif;

	.modal-content { padding: 0 20px; }
	i { font-size: 4em; color: darken($medium-grey, 15%); }

	.modal-title {
		position: relative;
		top: -5px;
		padding-top: 0;
		font-size: 1.5em;
		display: inline-block;
		padding-left: 10px;
	}

	.modal-header { padding-bottom: 0; }
}

.feedbackBlock { 
	padding: 0;
	margin-bottom: 20px;
	background-color: $light-grey;
	border: thin solid darken($light-grey, 10%);
	@include border-radius(8px);
	@include box-shadow($light-grey 0 0 4px 3px);

	div { color: $medium-grey; display: inline-block; }

	div:first-of-type {
		text-align: center; /* see if this can be moved to the html */
		width: 14%;
		font-size: .7em;
		background-color: $light-grey;
	}
}

.feedbackDetails {
	float:right;
	padding: 20px 0 20px 30px;
	width: 86%;
	background-color: white;

	span:not(.commentBody) { display: block; }
	span:first-of-type { font-size: 1.25em; color: $blue-grey; margin-bottom: 4px; }
	span:nth-child(2) { font-size: .8em; }
}

.commentBody { 
	display: inline-block;
	color: $blue-grey;
	font-size: .8em;
	width: 90%;
}

.avatarWrapper {
	position: relative;
	top: 20px;
	display: block;
	width: 70px !important;
	height: 70px;
	padding-top: 11%;
	@include border-radius(50%);
	border: 3px solid $light-grey;
	background-color: darken($light-grey, 20%) !important;

	i { color: $light-grey !important; font-size: 4.5em !important; }
}

#feedbackModal[data-dismiss=modal]:not(.close) { margin: 0 0 10px 0; }

/* file manager overrides */

input[type="file"] { width: 100%; }

.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
	display: none;
}

.custom-file-input::before {
	content: 'Click to choose, or drop file here';
	display: block;
	text-align: center;
	width: 100%;
	height: 200px;
	border: 1px dashed $medium-grey;
	@include border-radius(4px);
	padding: 90px 0 0;
	-webkit-user-select: none;
	cursor: pointer;
	font-weight: 700;
	color: $dark-grey;
	margin-bottom: 5px;
}

.no-content::before {
	content: '';
}

.fileUploader + h4 { 
	display: inline-block; 
	font-size: .85em;
	margin-right: 6px;
}

.fm-resetSelection { 
	display: inline-block;
	margin-top: 0;
	@include border-radius(5px);
	font-size: .8em;
}

/* ----- reports modal updates ----- */

.reportTitle { display: inline-block; padding-top: 35px; }

.printButton { position: absolute; right: 15px; margin-top: 35px; }

#reportsModal .modal-header { padding-bottom: 0; }
#reportsModal .modal-header .close { position: relative; top: -8px; }
#reportsModal .modal-footer button { margin-top: 0; @include border-radius(4px); }

.report-container { padding-top: 0; }

#reportIFrame {
    width: 100%;
    min-height: 450px;
    border: thin solid #ddd;
    @include border-radius(6px);
}

/* ----- enagement metric styles ----- */ /* --- update in DEX-CSS project --- */

.feeback-close { 
	position: absolute; 
	right: 8px;
	top: -2px;
}

.metric-container { 
	width: 50px; 
	height: 60px; 
	@include border-bottom-left-radius(8%);
	@include border-bottom-right-radius(8%);
	display: inline-block;
	margin-right: 0;
	color: white;

	p { margin-bottom: 0; }
	i { color: white !important; }
}

.total-likes { background-color: #3b5997; }
.total-shares { background-color: #175e60; }
.total-comments { background-color: #d64937; }

.metric-list { margin-right: 10px; margin-top: -12px; }

.metric { 
	font-size: 1.75em !important;
	margin-top: 8px;
}

.feedback-container {
	position: relative;
	width: 93%;
	margin: 25px auto 0;
	padding: 30px 35px 10px;
	background-color: rgba(255, 255, 255, 1);
	@include border-radius(6px);
}

.mb-feedback { margin-top: 40px; }

.fb-feedback-icon { 
	position: absolute; 
	left: -10px; 
	top: -15px; 
	font-size: .6em;

	i { color: #3b5997 !important; }
}

.tblr-feedback-icon { 
	position: absolute; 
	left: -10px; 
	top: -15px; 
	font-size: .6em;

	i { color: #34455C !important; }
}

.mb-feedback-icon { 
	position: absolute;
	left: -8px;
	top: -22px;
	font-size: .85em;

	i { color: #175e60 !important; }
}

.answers-metrics-container { width: 100%; padding-top: 20px; }

.answer-width-container { 
	width: 100%; 
	background-color: #ddd; 
	text-align: left; 
	margin-bottom: 10px; 
}

.totalAnswers { 
	position: relative; 
	z-index: 50; 
	margin-right: 10px; 
	color: white; 
	font-size: .8em; 
	font-style: italic; 
	cursor: pointer; 
}

.answer-percentage { 
	height: 25px; 
	color: white; 
	font-size: .85em; 
	font-style: italic; 
	padding: 2px 0 0 8px;
	background-color: #6C8E7C;
	@include border-top-right-radius(6px);
	@include border-bottom-right-radius(6px);
}

.mbFeedback-count { 
	margin-right: 20px;

	p { color: white; margin-top: 0; font-size: .85em; }
}

.no-feedback-available {  
	background-color: white; 
	padding: 10px 0; 
	margin: 15px 0;
	@include border-radius(8px);
	font-size: .9em;
	font-style: italic;

	p { color: #d64937 !important; }
}

.theBehaviours { display: block; }

.engagement-modifier > textarea { margin-top: 10px; }

.set-followup-time input { display: inline; }

/* ---- TEMP NEW MODAL ---- */

.areaHidden { max-height: 0 !important; }

.add-link {
    display: inline-block;
    cursor: pointer; 
}

.media-container { position: relative; overflow: hidden; }

.media-clips {
    background-color: #fff;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: thin solid #ddd;
    margin-top: 10px;
    padding: 10px 0;

    ul { 
        position: absolute;
        z-index: 500;
        top: 12px;
        right: 1px;
        background-color: rgba(white, .8);
        padding: 3px;
        font-size: 1.5em;
        border: thin solid rgba(white, .8);
        @include border-bottom-left-radius(4px);
        @include box-shadow(-2px 2px 2px 1px rgba(white, 0.47));
    }
}

.media-clips img, .media-clips video { 
    max-height: 60px;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
    opacity: 1;
    transition: all 1s;
}

.media-clips img:hover {
    opacity: .65;
}

.hideMedia { 
	// opacity: 0; 
	overflow: hidden;
	max-height: 200px;
	transition: max-height 1s;
	margin-top: 15px;
}

.my-img { white-space: nowrap; }

#iceEduLayoutLectCreate ~ .modal-footer button { margin-top: 30px; }

.selected-mm-mainContainer {
    display: none;
}

.selected-mm { 
    position: relative;
}

.selected-mm-img { 
    padding-top: 10px;
}

.selected-mm-text { 
    margin-top: 1.25em !important;
    font-size: .8em !important;
}

.selected-mm button { 
    left:550px; 
    top: 5px;
}

.selected-mm-tags li { margin: 10px 5px 0; }
.selected-mm-tags li:first-child { margin-right: 0; }

.other-deployment { 
    font-size: .8em;
    list-style-type: square;
}


// .media-wrapper { min-height: 265px; }

.media-container ~ div { margin-top: 30px !important; }

.media-container ~ div div:first-child { padding-left: 0; }

.dropup .dropdown-menu { position: absolute; left: 60%; right: 60px; }

.widget-preloader { 
	width: 100%; 
	height: 100%; 
	background-color: rgba(white, .75);
	position: absolute;
	z-index: 500;
	padding: 20px;
	color: $medium-grey;

	div {
		width: 80%;
		@include border-radius(4px);
		background-color: white;
		border: 2px solid $light-grey;
		margin: 0 auto;
		position: relative;
		top: 32%;
		padding: 20px 0;
	}

	p { margin: 0; font-style: italic; }

	i { margin-bottom: 12px; color: $medium-grey; }
}


/* ---- END TEMP NEW MODAL ---- */

/* ----- media queries for responsive modal tweaks ----- */

@media only screen and (max-width: 768px) {
	.avatarWrapper {
		width: 50px !important;
		height: 50px;
		padding-top: 11%;
	}

	.avatarWrapper i { 
		color: #d6d7dd !important;
		font-size: 3.5em !important;
	}
}


